@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans-Regular"), url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.page {
  height: 100%; }

.page__body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #ffffff; }

.page-wrapper {
  margin: 0 auto;
  min-width: 320px;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; }

.navigation {
  padding-bottom: 56px;
  position: relative; }

@media (min-width: 768px) {
  .navigation {
    padding-bottom: 0; } }

.navigation__logo {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translate(-50%); }

.navigation__toggle {
  position: absolute; }

.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 0; }

@media (min-width: 768px) {
  .site-list {
    display: flex; }
  .container {
    max-width: 850px;
    margin: 0 auto; } }

.site-list__item {
  background-color: #81b3d2; }

@media (min-width: 768px) {
  .site-list__item {
    background-color: transparent; }
  .site-list__item:nth-child(1) {
    margin-left: 48px;
    margin-right: 75px; }
  .site-list__item:nth-child(2) {
    margin-right: auto; }
  .site-list__item:nth-child(4) {
    margin-right: 28px;
    margin-left: 49px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto; }
  .site-list__item:nth-child(1) {
    margin-left: 90px;
    margin-right: 165px; }
  .site-list__item:nth-child(4) {
    margin-right: 70px;
    margin-left: 140px; } }

.site-list__link {
  display: block;
  padding: 8px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff; }

@media (min-width: 768px) {
  .site-list__link {
    color: #000000;
    font-size: 14px;
    padding: 8px 0; } }

.page-main__image-wrapper {
  background-color: #ddebf4;
  min-height: 159px; }

@media (min-width: 768px) {
  .page-main-image-wrapper {
    min-height: 291px; } }

@media (min-width: 1200px) {
  .page-main-image-wrapper {
    min-height: 305px; } }

.page-main__image-wrapper.page-main__image-wrapper--index {
  min-height: 389px; }

@media (min-width: 768px) {
  .page-main__image-wrapper.page-main__image-wrapper--index {
    min-height: 518px; } }

.page-main__text-unit {
  padding-top: 35px;
  padding-bottom: 30px;
  margin: 0 20px; }

.unit-wrap {
  max-width: 450px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .unit-wrap {
    max-width: 490px;
    margin: 0 auto; } }

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  padding: 0 10px 44px;
  margin: 0; }

@media (min-width: 768px) {
  .page-main__title {
    font-size: 21px; } }

.page-main__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: #333333;
  margin: 0; }

.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 13px 10px;
  border: 3px solid #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
  cursor: pointer; }
  .button:hover {
    border-color: #669ec0;
    background-color: #669ec0; }
  .button:active {
    border-color: #5496bd;
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); }
  .button:disabled {
    border-color: #e5e5e5;
    background-color: #e5e5e5; }

@media (min-width: 768px) {
  .main-unit {
    display: grid;
    grid-template-columns: 1fr 2fr; }
  .main-unit.main-unit--reverse {
    display: grid;
    grid-template-columns: 2fr 1fr; } }

.main-unit__description {
  padding: 55px 13px 39px 13px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2; }

@media (min-width: 768px) {
  .main-unit__description {
    min-width: 256px;
    max-height: 256px;
    padding: 40px 32px 43px; }
  .main-unit--reverse .main-unit__description {
    grid-row: 1/2;
    grid-column: 2/3; } }

@media (min-width: 1200px) {
  .main-unit__description {
    padding: 47px 52px 56px 53px; } }

.main-unit__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 18px;
  margin: 0; }

@media (min-width: 768px) {
  .main-unit__title {
    font-size: 21px;
    padding: 0 34px 18px; }
  .main-unit--reverse .main-unit__title {
    padding: 0 53px 18px; } }

@media (min-width: 1200px) {
  .main-unit__title {
    padding: 0 85px 18px; }
  .main-unit--reverse .main-unit__title {
    padding: 0 72px 18px 73px; } }

.main-unit__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 27px;
  margin: 0; }

.main-unit__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0; }

@media (min-width: 768px) {
  .main-unit__text {
    padding: 0 25px; }
  .main-unit--reverse .main-unit__text {
    padding: 0 40px; } }

@media (min-width: 1200px) {
  .main-unit__text {
    padding: 0 16px; } }

.main-unit__image-wrapper {
  background-color: #eaeaea; }

@media (min-width: 768px) {
  .main-unit__image-wrapper {
    min-height: 256px; } }

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media (min-width: 768px) {
  .advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; } }

.advantages-list--first {
  margin: 0 20px;
  padding: 35px 0 10px 49px; }

@media (min-width: 768px) {
  .advantages-list--first {
    margin: 0;
    padding: 158px 0 69px;
    text-align: center; }
  .advantages-list__item--first .advantages-list__item-title {
    font-size: 21px; }
  .advantages-list__item--first:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4; }
  .advantages-list__item--first:nth-child(1) .advantages-list__item-text {
    padding: 0 35px; }
  .advantages-list__item--first:nth-child(2) .advantages-list__item-text {
    padding: 0 32px; }
  .advantages-list__item--first:nth-child(3) .advantages-list__item-text {
    padding: 0 52px; } }

@media (min-width: 1200px) {
  .advantages-list__item--first:nth-child(1) .advantages-list__item-text {
    padding: 0 74px; }
  .advantages-list__item--first:nth-child(2) .advantages-list__item-text {
    padding: 0 100px; } }

.advantages-list__item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-bottom: 22px; }

.advantages-list__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding-bottom: 27px;
  margin: 0; }

.advantages-list__item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  padding-bottom: 25px; }

.advantages-list--second {
  background-color: #eeeeee;
  text-align: center; }

@media (min-width: 768px) {
  .advantages-list__item--second:nth-child(1) .advantages-list__item-title {
    padding: 0 20px 22px;
    font-size: 21px; }
  .advantages-list__item--second:nth-child(1) .advantages-list__item-text {
    padding: 0 18px; }
  .advantages-list__item--second:nth-child(2) .advantages-list__item-title {
    padding: 0 32px 22px;
    font-size: 21px; }
  .advantages-list__item--second:nth-child(2) .advantages-list__item-text {
    padding: 0 35px; }
  .advantages-list__item--second:nth-child(3) .advantages-list__item-title {
    padding: 0 40px 22px;
    font-size: 21px; }
  .advantages-list__item--second:nth-child(3) .advantages-list__item-text {
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .advantages-list__item--second:nth-child(1) .advantages-list__item-title {
    padding: 0 100px 22px;
    font-size: 21px; }
  .advantages-list__item--second:nth-child(2) .advantages-list__item-title {
    padding: 0 100px 22px;
    font-size: 21px; }
  .advantages-list__item--second:nth-child(2) .advantages-list__item-text {
    padding: 0 50px; }
  .advantages-list__item--second:nth-child(3) .advantages-list__item-title {
    padding: 0 105px 22px;
    font-size: 21px; } }

.advantages-list--second .advantages-list__item {
  padding-top: 25px;
  padding-bottom: 30px;
  margin: 0 20px; }

.advantages-list__item--second:nth-child(2) {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6; }

@media (min-width: 768px) {
  .advantages-list__item--second:nth-child(2) {
    border: none; } }

.hotel-search {
  padding-top: 35px;
  padding-bottom: 50px; }

.search-wrap {
  max-width: 458px;
  margin: 0 auto; }

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0 20px;
  padding-bottom: 32px; }

.hotel-search__direction {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  text-align: center;
  color: #333333;
  padding-bottom: 30px;
  margin: 0 20px; }

.hotel-search__button {
  margin: 0 20px; }

@media (min-width: 768px) {
  .hotel-search__title {
    font-size: 30px; }
  .hotel-search__direction {
    padding: 0 10px 30px; } }

.map__interactive {
  background-color: #eeeeee;
  min-height: 350px; }

.page-footer {
  padding-top: 36px;
  display: flex;
  flex-direction: column; }

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between; } }

.page-footer__unit {
  text-align: center; }

.page-footer__unit:last-child {
  display: flex;
  justify-content: center; }

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 35px;
  margin: 0; }

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin: 0; }

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between; }
  .page-footer__unit:nth-child(1) {
    margin-left: 61px; }
  .page-footer__unit:nth-child(3) {
    margin-right: 60px; } }

@media (min-width: 1200px) {
  .page-footer__unit:nth-child(1) {
    margin-left: 118px; }
  .page-footer__unit:nth-child(3) {
    margin-right: 120px; } }

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none; }

.social__item {
  width: 46px;
  height: 48px; }

.social__item:not(:last-child) {
  margin-right: 6px; }

.review-form {
  margin: 0 20px; }

.review-form__fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.review-form__button {
  margin: 0 auto; }

.fieldset-name {
  padding-top: 20px;
  padding-bottom: 25px; }

.fieldset-name__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000; }

.fieldset-name__input-wrap {
  padding: 0;
  margin: 0;
  list-style: none; }

.fieldset-name__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333; }

.fieldset-name__input {
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border: none; }

.fieldset-name__input-box:not(:last-child) {
  margin-bottom: 20px; }

.fieldset-contacts {
  padding-top: 20px;
  padding-bottom: 28px; }

.fieldset-contacts__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000; }

.fieldset-contacts__input-wrap {
  padding: 0;
  margin: 0;
  list-style: none; }

.fieldset-contacts__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px; }

.fieldset-contacts__input {
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;
  background-color: #f2f2f2;
  border: none; }

.fieldset-contacts__input-box:not(:last-child) {
  margin-bottom: 20px; }

.fieldset-impression {
  padding-top: 20px;
  padding-bottom: 31px; }

.fieldset-impression__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000; }

.fieldset-impression__input-wrap {
  padding: 0;
  margin: 0;
  list-style: none; }

.fieldset-impression__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000; }

.fieldset-impression__input-box:not(:last-child) {
  margin-bottom: 21px; }

.fieldset-attractions {
  padding-top: 20px;
  padding-bottom: 30px; }

.fieldset-attractions__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000; }

.fieldset-attractions__input-wrap {
  padding: 0;
  margin: 0;
  list-style: none; }

.fieldset-attractions__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000; }

.fieldset-attractions__input-box:not(:last-child) {
  margin-bottom: 34px; }

.fieldset-emotions {
  padding-top: 20px;
  padding-bottom: 51px; }

.fieldset-emotions__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 15px; }

.fieldset-emotions__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  height: 160px;
  padding: 13px 23px 29px 21px;
  background-color: #f2f2f2; }

.photo {
  margin: 0 20px; }

.gallery {
  padding: 0;
  margin: 0;
  list-style: none; }

.gallery__item {
  padding-top: 20px;
  padding-bottom: 21px; }

.gallery__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  margin-bottom: 15px; }

.gallery__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #333333;
  margin-bottom: 15px; }

.gallery__counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000; }

.video {
  padding-top: 32px;
  padding-bottom: 50px; }

.video__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 42px; }

.video__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px; }

.video__preview {
  background-color: #eaeaea; }

.video__control {
  margin: 0 20px;
  background-color: #eaeaea;
  height: 66px; }

/*# sourceMappingURL=style.css.map */
