.advantages-list {
  @include style-reset;
  margin: 0 20px;
}

.advantages-list--first {
  padding: 35px 24px 10px 69px;
}

.advantages-list__item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color-title;
  margin: 0;
  padding-bottom: 22px;
}

.advantages-list__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $font-color-base;
  padding-bottom: 27px;
  margin: 0;
}

.advantages-list__item-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $font-color-base;
  margin: 0;
  padding-bottom: 25px;
}

.advantages-list--second {
  background-color: $background-block;
  text-align: center;
}

.advantages-list--second .advantages-list__item {
  padding-top: 25px;
  padding-bottom: 30px;
}

.advantages-list--second .advantages-list__item:nth-child(2) {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}
