.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 13px 10px;
  border: 3px solid $background-btn;
  font-family: $font-family-base;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: $font-color-second;
  text-decoration: none;
  background-color: $background-btn;
  cursor: pointer;

  &:hover {
    border-color: $background-btn--hover;
    background-color: $background-btn--hover;
  }

  &:focus {
    border-color: $background-btn--hover;
    background-color: $background-btn--hover;
  }

  &:active {
    border-color: $background-btn--active;
    background-color: $background-btn--active;
    color: $white-opacity-30;
  }

  &:disabled {
    border-color: $background-btn--disabled;
    background-color: $background-btn--disabled;
  }
}
