.fieldset-contacts {
  padding-top: 20px;
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .fieldset-contacts {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}

.fieldset-contacts__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
}

.fieldset-contacts__input-wrap {
  @include style-reset;
}

.fieldset-contacts__label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $font-color-base;
  margin-bottom: 10px;
}

.fieldset-contacts__input {
  height: 58px;
  font-size: 18px;
  line-height: 26px;
  padding-left: 22px;
  background-color: $background-input;
  border: none;
}

.fieldset-contacts__input-box:not(:last-child) {
  margin-bottom: 20px;
}
