.fieldset-emotions {
  padding: 0 20px;
  display: flex;
}

.fieldset-emotions__legend {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.fieldset-emotions__textarea {
  flex-grow: 1;
  height: 156px;
  border: none;
  resize: none;
  background-color: $background-input;
  margin-bottom: 51px;
}

.fieldset-emotions__textarea::placeholder {
  padding-top: 11px;
  padding-left: 19px;
  padding-right: 10px;
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}

@media (min-width: $tablet-width) {
  .fieldset-emotions {
    grid-row: 4/5;
    grid-column: 1/3;
    padding: 0;
    border-top: 1px solid $border-color;
  }

  .fieldset-emotions__legend {
    font-size: 21px;
    padding: 19px 75px 20px;
    margin-bottom: 36px;
  }

  .fieldset-emotions__textarea {
    padding-top: 8px;
    height: 150px;
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-emotions__legend {
    padding-top: 21px;
  }

  .fieldset-emotions__textarea {
    margin-bottom: 58px;
  }
}
