.hotel-search {
  padding-top: 34px;
  padding-bottom: 49px;
}

.search-wrap {
  max-width: 498px;
  margin: 0 auto;
}

.hotel-comma {
  display: none;
}

.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
  margin: 0 20px;
  padding-bottom: 21px;
}

.hotel-search__button {
  margin: 0 20px;
}

.hotel-search__direction {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  text-align: center;
  color: $font-color-base;
  padding-bottom: 27px;
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .hotel-search {
    padding-top: 57px;
    padding-bottom: 58px;
  }

  .hotel-search__title {
    font-size: 30px;
    padding-bottom: 33px;
  }

  .hotel-search__direction {
    padding: 0 10px 38px;
  }

  .hotel-comma {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .hotel-search {
    padding-bottom: 66px;
  }

  .hotel-search__direction {
    padding-bottom: 43px;
  }
}
