
@media (min-width: $tablet-width) {
  .main-unit {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .main-unit.main-unit--reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.main-unit__description {
  padding: 50px 13px 39px 13px;
  text-align: center;
  color: $font-color-second;
  background-color: $background-block-second;
}

.main-unit--reverse .main-unit__description {
  padding-top: 38px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .main-unit__description {
    max-height: 256px;
    padding: 40px 32px 43px;
  }

  .main-unit--reverse .main-unit__description {
    grid-row: 1/2;
    grid-column: 2/3;
    max-height: 256px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-unit__description {
    padding: 47px 52px 56px 53px;
  }
}


.main-unit__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 12px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-unit__title {
    font-size: 21px;
    padding: 0 34px 14px;
  }

  .main-unit--reverse .main-unit__title {
    padding: 44px 53px 13px;
  }
}

@media (min-width: $desktop-width) {
  .main-unit__title {
    padding: 0 85px 14px;
  }

  .main-unit--reverse .main-unit__title {
    padding: 51px 125px 13px;
  }

}

.main-unit__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 16px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-unit__number {
    padding-bottom: 23px;
  }
}

.main-unit__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-unit--reverse .main-unit__text {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-unit__text {
    padding: 0 16px;
  }

  .main-unit--reverse .main-unit__text {
    padding: 0 86px;
  }
}

.main-unit__image-wrapper {
  background-color: $background-color-photo;
  min-height: 260px;
}

@media (min-width: $tablet-width) {
  .main-unit__image-wrapper {
    min-height: 256px;
  }
}
