.page-footer {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__unit {
  text-align: center;
}

.page-footer__unit:last-child {
  display: flex;
  justify-content: center;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color-title;
  padding-bottom: 35px;
  margin: 0;
}

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 26px;
  color: $font-color-base;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__unit:nth-child(1) {
    margin-left: 61px;
  }

  .page-footer__unit:nth-child(3) {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__unit:nth-child(1) {
    margin-left: 118px;
  }

  .page-footer__unit:nth-child(3) {
    margin-right: 120px;
  }
}
