.page-wrapper {
  margin: 0 auto;
  min-width: 320px;
  max-width: 520px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 5px 15px $black-opacity-20;
}

@media (min-width: $tablet-width) {
  .page-wrapper {
    max-width: 900px;
  }
}

@media (min-width: $desktop-width) {
  .page-wrapper {
    max-width: 1200px;
  }
}
