.page-footer {
  padding-top: 39px;
  display: flex;
  flex-direction: column;

  &--catalog {
    padding-top: 94px;
  }
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color-title;
  padding-bottom: 33px;
  margin: 0;
}

.page-footer__unit {
  text-align: center;
}

.page-footer__unit:last-child {
  display: flex;
  justify-content: center;
}

.page-footer__copyright-text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.page-footer__copyright-link {
  position: relative;
  display: block;
  color: $black;
  padding-right: 38px;
}

.copyright-icon {
  position: absolute;
  display: block;
  right: -1px;
  top: -4px;
  width: 27px;
  height: 34px;
  fill: $black;

  &:hover {
    fill: $background-btn;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 36px;
    flex-direction: row;
    justify-content: space-between;

    &--catalog {
      padding-top: 26px;
    }
  }

  .page-footer__hashtag {
    padding-top: 13px;
  }

  .page-footer__copyright-text {
    padding-top: 13px;
    margin-left: 10px;
  }

  .page-footer__unit:nth-child(1) {
    margin-left: 61px;
  }

  .page-footer__unit:nth-child(3) {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--catalog {
    padding-top: 72px;
  }

  .page-footer__copyright-text {
    margin-left: 3px;
  }

  .page-footer__unit:nth-child(1) {
    margin-left: 118px;
  }

  .page-footer__unit:nth-child(3) {
    margin-right: 120px;
  }
}
