.page-main__image-wrapper {
  background-color: $background-color-second;
  min-height: 159px;
}

.page-main__image-wrapper--catalog {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  background-position-y: -53px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle-d.svg");
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 1200px;
    height: 57px;
    z-index: 10;
  }
}

.page-main__image-wrapper--form {
  position: relative;
  background-image: url("../img/back-mobile.jpg");
  background-position-y: -53px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle-d.svg");
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 1200px;
    height: 57px;
    z-index: 10;
  }
}

@media (min-width: $tablet-width) {
  .page-main__image-wrapper--form {
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-main__image-wrapper {
    min-height: 290px;
  }

  .page-main__image-wrapper--catalog {
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__image-wrapper--form {
    background-image: url("../img/back-desktop.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__image-wrapper {
    min-height: 301px;
  }

  .page-main__image-wrapper--catalog {
    background-image: url("../img/back-desktop.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.page-main__image-wrapper.page-main__image-wrapper--index {
  min-height: 389px;
  background-image: url("../img/index-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle-d.svg");
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 1200px;
    height: 57px;
    z-index: 10;
  }
}

@media (min-width: $tablet-width) {
  .page-main__image-wrapper.page-main__image-wrapper--index {
    min-height: 518px;
    background-image: url("../img/index-back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-back-tablet@2x.jpg");
    }
  }
}

.page-main__text-unit {
  padding: 35px 20px 30px;
}

.page-main__text-unit.unit-wrap.unit-wrap--index {
  padding: 35px 20px 10px;
}

@media (min-width: $tablet-width) {
  .page-main__text-unit {
    padding: 35px 20px 53px;
  }

  .page-main__text-unit.unit-wrap.unit-wrap--index {
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__image-wrapper.page-main__image-wrapper--index {
    background-image: url("../img/index-back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-back-desktop@2x.jpg");
    }
  }

  .page-main__text-unit {
    padding: 36px 20px 40px;
  }

  .page-main__text-unit.unit-wrap.unit-wrap--index {
    padding-bottom: 40px;
  }
}

.unit-wrap {
  max-width: 450px;
  margin: 0 auto;

  &--form {
    max-width: 440px;
    margin: 0 auto;
    border-bottom: 1px solid $border-color;
  }

  &--catalog {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .unit-wrap {
    max-width: 490px;
    margin: 0 auto;
  }

  .page-main__text-unit {
    border-bottom: none;
  }
}

.page-main__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
  padding: 0 10px 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 21px;
    padding: 10px 10px 30px;
  }

  .page-main__title--form {
    font-size: 30px;
    padding-bottom: 33px;
  }

  .page-main__title--catalog {
    font-size: 30px;
    padding-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    padding: 22px 10px 30px;
  }

  .page-main__title--catalog {
    padding-bottom: 35px;
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: $font-color-base;
  margin: 0;
}

.unit-wrap--form .page-main__text,
.unit-wrap--catalog .page-main__text {
  line-height: 24px;
}

.page-main__text-unit.unit-wrap--form {
  padding-top: 35px;
  padding-bottom: 15px;
}

.page-main__text-unit.unit-wrap--catalog {
  padding-top: 31px;
}

@media (min-width: $tablet-width) {
  .page-main__text-unit.unit-wrap--form {
    padding-top: 51px;
    padding-bottom: 88px;
  }

  .page-main__text-unit.unit-wrap--catalog {
    padding-top: 53px;
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__text-unit.unit-wrap--form {
    padding-top: 90px;
    padding-bottom: 58px;
  }

  .page-main__title--form {
    padding-bottom: 34px;
  }

  .page-main__text-unit.unit-wrap--catalog {
    padding-top: 78px;
    padding-bottom: 20px;
    margin-bottom: 58px;
  }
}
