.site-list {
  @include style-reset;
  margin: 0;
}


@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .container {
    max-width: 850px;
    margin: 0 auto;
  }
}

.site-list__item {
  background-color: $background-block-second;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    background-color: transparent;
  }

  .site-list__item:nth-child(1) {
    margin-left: 48px;
    margin-right: 75px;
  }

  .site-list__item:nth-child(2) {
    margin-right: auto;
  }

  .site-list__item:nth-child(4) {
    margin-right: 28px;
    margin-left: 49px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .site-list__item:nth-child(1) {
    margin-left: 90px;
    margin-right: 165px;
  }

  .site-list__item:nth-child(4) {
    margin-right: 70px;
    margin-left: 140px;
  }
}

.site-list__link {
  display: block;
  padding: 8px 15px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $font-color-second;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    color: $black;
    font-size: 14px;
    padding: 8px 0;
  }
}
