.social {
  display: flex;
  justify-content: center;
  align-items: center;

  @include style-reset;
}

.social__item {
  width: 46px;
  height: 48px;
  padding-bottom: 44px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.icon-twitter {
  width: 17px;
  height: 15px;
  fill: $white;
}

.icon-facebook {
  width: 9px;
  height: 19px;
  fill: $white;
}

.icon-youtube {
  width: 20px;
  height: 14px;
  fill: $white;
}

.social__link:active .icon-twitter,
.social__link:active .icon-facebook,
.social__link:active .icon-youtube {
  opacity: 0.3;
}
