.video {
  padding-top: 29px;
  padding-bottom: 50px;
  position: relative;
}

.video__preview-image {
  display: block;
  width: 100%;
  height: auto;
}

.video__title {
  max-width: 445px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
  margin: 0 auto;
}

.video__text {
  max-width: 445px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding: 0 25px 32px;
  margin: 0 auto;
}

.video__control-panel {
  margin: 0 20px;
  height: 111px;
  min-width: 280px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  background-color: rgba($black, 0.6);
}

@media (min-width: $tablet-width) {
  .video {
    padding-top: 32px;
  }

  .video__title {
    font-size: 30px;
    padding-bottom: 33px;
  }

  .video__text {
    margin-bottom: 48px;
  }

  .video__preview {
    padding: 0 60px;
  }

  .video__control-panel {
    margin: 0 60px;
    height: 93px;
    bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-top: 61px;
  }

  .video__preview {
    padding: 0 200px;
  }

  .video__control-panel {
    margin: 0 200px;
  }

  .video__text {
    margin-bottom: 45px;
  }
}
